<?xml version="1.0"?>
<config>
    <modules>
        <Ansh_Customcontact>
            <version>1.0.0</version>
        </Ansh_Customcontact>
    </modules>
    <frontend>
        <routers>
            <customcontact>
                <use>standard</use>
                <args>
                    <module>Ansh_Customcontact</module>
                    <frontName>customcontact</frontName>
                </args>
            </customcontact>
        </routers>
        <layout>
            <updates>
                <customcontact>
                    <file>customcontact.xml</file>
                </customcontact>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <customcontact>
                <use>admin</use>
                <args>
                    <module>Ansh_Customcontact</module>
                    <frontName>customcontact</frontName>
                </args>
            </customcontact>
        </routers>
    </admin>
    <adminhtml>		
        <layout>
            <updates>
                <customcontact>
                    <file>customcontact.xml</file>
                </customcontact>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <customcontact>
                <class>Ansh_Customcontact_Helper</class>
            </customcontact>
        </helpers>
        <models>
            <customcontact>
                <class>Ansh_Customcontact_Model</class>
                <resourceModel>customcontact_mysql4</resourceModel>
            </customcontact>
            <customcontact_mysql4>
                <class>Ansh_Customcontact_Model_Mysql4</class>
                <entities>
                    <customcontact>
                        <table>customcontact</table>
                    </customcontact>
                </entities>
            </customcontact_mysql4>
        </models>
        <resources>
            <customcontact_setup>
                <setup>
                    <module>Ansh_Customcontact</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customcontact_setup>
            <customcontact_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customcontact_write>
            <customcontact_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customcontact_read>
        </resources>
        <blocks>
            <customcontact>
                <class>Ansh_Customcontact_Block</class>
            </customcontact>
        </blocks>
        <template>
            <email>
                <!-- Unique template name that I can access to send email or to load email template-->
                <customcontact_email_setting_email_admin_template translate="label" module="customcontact">
                    <label>Admin Customcontact email</label>
                    <file>customcontact_email_admin.html</file>
                    <type>html</type>
                </customcontact_email_setting_email_admin_template>
                <customcontact_email_setting_email_customers_template translate="label" module="customcontact">
                    <label>Email Customer Template</label>
                    <file>customcontact_email_customer.html</file>
                    <type>text</type>
                </customcontact_email_setting_email_customers_template>                                
            </email>
        </template>
        
    </global>
  
</config>
